/* body {
    color: red;
} */

/* Customize the navigation bar */
.navbar {
    padding: 1rem;
    background-color: rgb(10, 117, 19);
    font-size: 1.5em;
}
.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
}

.navbar-nav {
    
    text-align: right;
}

/* Make the body text lighter than gray for readability */
p {
    color: antiquewhite;
    margin-bottom: 4em;
}

/* Customize the footer */
.jumbotron {
    /* padding: 0.1rem; */
    background-color: rgb(10, 117, 19);
}

/* Customize the button */
.btn-primary:hover {
    background-color: rgb(47, 243, 122);
    color: white;
  }

/* Add a picture for the jumbotron */
.hero-background-img {
    position: relative;
    background: rgba(0, 0, 0, 0.3); /* If our image is bright, we can tone it down with this darker overlay */
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-background-img:after {
    content: "";
    position: absolute;
    background-image: url("background-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5; /* Tone the image down further by giving it transparency */
}

